{% extends 'parent/base.html' %}
{% block title %}Ticket Form{% endblock %}
{% block content %}
    <style>
        *, *:before, *:after {
            box-sizing: border-box;
        }

        form {
            min-width: 700px;
            margin: 30px auto;
            padding: 20px;
            background: #f4f7f8;
            border-radius: 8px;
        }

        h1 {
            margin: 0 0 30px 0;
            text-align: center;
        }

        input, textarea, select {
            background: rgba(255, 255, 255, 0.1);
            border: none;
            font-size: 16px;
            height: auto;
            margin: 0;
            outline: 0;
            padding: 15px;
            border-radius: 8px;
            width: 100%;
            background-color: #e8eeef;
            color: #8a97a0;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
            margin-bottom: 20px;
            max-width: 100%;
            min-width: 50%;
        }

        input[placeholder], textarea[placeholder] {
            color: #1e1e1e;
        }

        select {
            padding: 0 10px;
            height: 32px;
            width: 30%;
            border-radius: 5px;
        }

        input[type=submit] {
            padding: 19px 39px 18px 39px;
            color: #FFF;
            background-color: #4bc970;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            border-radius: 8px;
            width: 100%;
            border: 1px solid #3ac162;
            box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
            margin-bottom: 10px;
            cursor: pointer;
        }

        fieldset {
            margin-bottom: 30px;
            border: none;
        }

        legend {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        label.light {
            font-weight: 300;
            display: inline;
        }

        .number {
            background-color: #5fcf80;
            color: #fff;
            height: 30px;
            width: 30px;
            display: inline-block;
            font-size: 0.8em;
            margin-right: 4px;
            line-height: 30px;
            text-align: center;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
            border-radius: 100%;
        }

        @media screen and (min-width: 480px) {

            form {
                max-width: 480px;

            }

        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                <h1> فرم تیکت پشتیبانی </h1>

                <fieldset>

                    <legend><span class="number">1</span> اطلاعات شما</legend>

                    <input type="text" name="name" required placeholder="نام و نام خانوادگی">

                    <input type="text" name="phone" required placeholder="شماره تلفن">

                    <input type="email" name="email" placeholder="ایمیل">

                </fieldset>
                <fieldset>
                    <legend><span class="number">2</span> پیام شما:</legend>

                    <label class="light">موضوع: </label>
                    <select name="subject" required>
                        <optgroup label="بخش پشتیبانی">
                            <option value="SJ">پیشنهاد</option>
                            <option value="CR">انتقاد</option>
                            <option value="BG">گزارش مشکل</option>
                        </optgroup>
                    </select>
                </fieldset>

                <textarea id="message" name="message" required placeholder="متن پیام"></textarea>

                {% if form.errors %}
                    <p>ارور های زیر را برطرف کنید</p>
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p>* {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <input type="submit" value="ثبت تیکت">
            </form>

        </div>
    </div>


{% endblock %}